<style type="text/css" media="screen">
	.md-primary-bg{
		    background-color: #075993 !important;
	}
</style>
<header class="headerNew">
</header>
    
    <div >
      </div>
<div class="contentBase">
    <div style=" width: 100%; margin: 0 auto; border: 1px solid; margin-bottom: 25px;">
		<article style="text-align: right;  background: #075993;">
               <label class="baseFiltro"> Filtro Normal </label>
               <a class="btn btn-primary " href="#"  ng-click="openNave('frmN')"><i class="icon2 icon-code-tags"></i></a>     
        </article>
        <form name="basicForm" id="frmN" class="navNormal md-inline-form" novalidate style="margin: 15px;">

	        <div class="form-title">Busqueda</div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <input type="text" name="primerNombre" ng-model="vm.basicForm.primerNombre"
                           placeholder="Primer Nombre"
                           >
                    <div ng-messages="basicForm.primerNombre.$error" ng-show="basicForm.primerNombre.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Primer nombre es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <input type="text" name="segundoNombre" ng-model="vm.basicForm.segundoNombre" placeholder="Segundo Nombre"
                           >
                    <div ng-messages="basicForm.segundoNombre.$error" ng-show="basicForm.segundoNombre.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Segundo Nombre es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <input type="text" name="primerApellido" ng-model="vm.basicForm.primerApellido"
                           placeholder="Primer Apellido"
                           >
                    <div ng-messages="basicForm.primerApellido.$error" ng-show="basicForm.primerApellido.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Primer apellido es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <input type="text" name="segundoApellido" ng-model="vm.basicForm.segundoApellido" placeholder="Segundo Apellido"
                           >
                    <div ng-messages="basicForm.segundoApellido.$error" ng-show="basicForm.segundoApellido.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Segundo Apellido es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <input type="text" name="apellidoCasada" ng-model="vm.basicForm.apellidoCasada"
                           placeholder="Apellido de Casada"
                           >
                    <div ng-messages="basicForm.apellidoCasada.$error" ng-show="basicForm.apellidoCasada.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Apellido de Casada es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <input type="text" name="sexo" ng-model="vm.basicForm.sexo" placeholder="Sexo"
                           >
                    <div ng-messages="basicForm.sexo.$error" ng-show="basicForm.sexo.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Sexo es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div>
            	Rango de Fechas
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-datepicker flex ng-model="vm.basicForm.fechaDesde" md-placeholder="Desde"></md-datepicker>
                <md-datepicker flex ng-model="vm.basicForm.fechaHasta" md-placeholder="Hasta"></md-datepicker>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <input type="text" name="edad" ng-model="vm.basicForm.edad"
                           placeholder="Edad"
                           >
                    <div ng-messages="basicForm.edad.$error" ng-show="basicForm.edad.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
		          <label>Departamento</label>
		          <md-select ng-model="vm.basicForm.departamento" >
		            <md-option><em>Ninguno</em></md-option>
		            <md-option ng-repeat="state in departamento.base" ng-value="state" ng-click="takeDepto(state)">
		              {{state}}
		            </md-option>
		          </md-select>
		        </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
		          <label>Municipio</label>
		          <md-select ng-model="vm.basicForm.municipio" >
		            <md-option><em>Ninguno</em></md-option>
		            <md-option ng-repeat="municipio in municipios" ng-value="municipio">
		              {{municipio}}
		            </md-option>
		          </md-select>
		        </md-input-container>
		        <md-input-container flex>
                    <input type="text" name="detalleResidencia" ng-model="vm.basicForm.detalleResidencia"
                           placeholder="Detalle lugar Residencia"
                           >
                    <div ng-messages="basicForm.detalleResidencia.$error" ng-show="basicForm.detalleResidencia.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
		          <label>Pueblo</label>
		          <md-select ng-model="vm.basicForm.pueblo" >
		            <md-option><em>Ninguno</em></md-option>
		            <md-option ng-repeat="p in pueblo" ng-value="p">
		              {{p}}
		            </md-option>
		          </md-select>
		        </md-input-container>
		        <md-input-container flex>
                    <input type="text" name="ComunidadLin" ng-model="vm.basicForm.ComunidadLin"
                           placeholder="Comunidad Lingüística"
                           >
                    <div ng-messages="basicForm.ComunidadLin.$error" ng-show="basicForm.ComunidadLin.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
		          <label>Idiomas que habla</label>
		          <md-select ng-model="vm.basicForm.idiomas" >
		            <md-option><em>Ninguno</em></md-option>
		            <md-option ng-repeat="p in idiomas" ng-value="p">
		              {{p}}
		            </md-option>
		          </md-select>
		        </md-input-container>
            </div>

          
                    <md-button ng-click="callApi()" type="button" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Realizar Busqueda
                    </md-button>
                </form>
        <article style="text-align: right;  background: #075993; margin-top: 21px; margin-bottom: 20px;">
               <label class="baseFiltro"> Filtro Dinamico </label>
               <a class="btn btn-primary " href="#"  ng-click="openNave('frmD')"><i class="icon2 icon-code-tags"></i></a>   
        </article>
        <form name="basicForm2" id="frmD" class="navNormal md-inline-form" novalidate style="margin: 15px;">

            <div class="form-title">Busqueda</div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Reglon Presupuestario</label>
                    <md-select ng-model="vm.basicForm2.reglonPresupuestario">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in reglonPresupuestario" ng-value="state">
                        {{state}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtroReglon" ng-change="betweenOK(1)">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="inputFiltroReglon" ng-model="vm.basicForm.inputFiltroReglon"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.inputFiltroReglon.$error" ng-show="basicForm.inputFiltroReglon.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex ng-show="showReglon2">
                    <input type="text" name="input2FiltroReglon" ng-model="vm.basicForm.input2FiltroReglon"
                           placeholder="Ingresa Valor 2"
                           >
                    <div ng-messages="basicForm.input2FiltroReglon.$error" ng-show="basicForm.input2FiltroReglon.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>

            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Puesto de acuerdo a sus funciones</label>
                    <md-select ng-model="vm.basicForm2.puestoFunciones">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in puestoFuncional" ng-value="state">
                        {{state}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtropuestoFunciones">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData2" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="inputpuestoFunciones" ng-model="vm.basicForm.inputpuestoFunciones"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.inputpuestoFunciones.$error" ng-show="basicForm.inputpuestoFunciones.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Puesto Nominal</label>
                    <md-select ng-model="vm.basicForm2.puestoNominal">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in puestoNominal" ng-value="state">
                        {{state}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtropuestoNominal">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData2" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="inputpuestoNominal" ng-model="vm.basicForm.inputpuestoNominal"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.inputpuestoNominal.$error" ng-show="basicForm.inputpuestoNominal.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <input type="text" name="inputUEjecutora" ng-model="vm.basicForm.inputUEjecutora"
                           placeholder="Unidad Ejecutora"
                           >
                    <div ng-messages="basicForm.inputUEjecutora.$error" ng-show="basicForm.inputUEjecutora.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtroUEjecutora">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData2" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="UEjecutora" ng-model="vm.basicForm.UEjecutora"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.UEjecutora.$error" ng-show="basicForm.UEjecutora.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Clasificación del Servicio</label>
                    <md-select ng-model="vm.basicForm2.CServicio">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in clasificaServicio" ng-value="state">
                        {{state}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtroCServicio">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData2" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="inputCServicio" ng-model="vm.basicForm.inputCServicio"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.inputCServicio.$error" ng-show="basicForm.inputCServicio.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                
                <md-input-container flex>
                    <input type="text" name="anioIngreso" ng-model="vm.basicForm.anioIngreso"
                           placeholder="Año de ingreso"
                           >
                    <div ng-messages="basicForm.anioIngreso.$error" ng-show="basicForm.anioIngreso.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Operador Logico</label>
                    <md-select ng-model="vm.basicForm2.filtroanioIngreso" ng-change="betweenOK(2)">
                      <md-option><em>Ninguno</em></md-option>
                      <md-option ng-repeat="state in filtroDData" ng-value="state.id">
                        {{state.name}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="inputFiltroanioIngreso" ng-model="vm.basicForm.inputFiltroanioIngreso"
                           placeholder="Ingresa Valor "
                           >
                    <div ng-messages="basicForm.inputFiltroanioIngreso.$error" ng-show="basicForm.inputFiltroanioIngreso.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex ng-show="showanioIngreso2">
                    <input type="text" name="input2FiltroanioIngreso" ng-model="vm.basicForm.input2FiltroanioIngreso"
                           placeholder="Ingresa Valor 2"
                           >
                    <div ng-messages="basicForm.input2FiltroanioIngreso.$error" ng-show="basicForm.input2FiltroanioIngreso.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Edad es requerido</span>
                        </div>
                    </div>
                </md-input-container>

            </div>
            <md-button ng-click="callApi()" type="button" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm2.$invalid || basicForm2.$pristine">
                        Realizar Busqueda
                    </md-button>
        </form>

	</div>
	<div layout style="margin-bottom: 15px;">
		<div flex="70">
			<input type="text" ng-model="gridOptions.quickFilterText" placeholder="Buscar..." style="width: 80%; margin-right: 5px; height: 35px; margin-top: 17px; border: 2px solid #9E9E9E;"/>
	    	<i class="ion-search" style="font-size: 22px;"></i>
		</div>
		<div flex="30" style="text-align: right;">
			<button ng-click="add()" class="md-accent md-raised md-hue-1 md-button md-default-theme md-ink-ripple" type="button"><span class="ng-scope">Nuevo (+)</span><div class="md-ripple-container"></div></button>

			<button ng-click="edit()" class=" 
	md-yellow-800-bg md-accent md-raised md-hue-1 md-button md-default-theme md-ink-ripple" type="button"><span class="ng-scope">Editar</span><div class="md-ripple-container"></div></button>

		</div>	
	</div>	
	<div style="">
		<div id="myGrid" ag-grid="gridOptions" style="height: 400px; text-align: left; width: 100%; " class="ag-blue"></div>
	</div>

</div>



